#contact
  .contact-container
    %h1.upcase
      %span.slash #
      contact
    = form_for Email.new, "mailto:pezza@hey.com", enctype: "text/plain", method: "GET" do |f|
      = f.hidden_field :subject, value: "Hello, Nick!", name: :subject

      = f.text_field :subject, placeholder: "Your Name", required: true, name: :subject

      .input-border
      = f.email_field :email, placeholder: "Your Email", required: true, name: :email
      .input-border
      .grow-wrap
        %textarea{ id: "email_msg", placeholder: "Your Message", name: "body", required: true, data: { min: { rows: 2 } } }
        .input-border

      %button{ type: :submit, class: "submit", "aria-label" => "Contact" }
        %i.far.fa-paper-plane
    .social
      = link_to "https://github.com/npezza93", class: "social-container" do
        %i.fab.fa-github
      = link_to "https://www.linkedin.com/in/nick-pezza-02166668", class: "social-container" do
        %i.fab.fa-linkedin-in
