#projects
  .skew
    .header-container
      %h1.upcase.section-header
        %span.slash #
        projects
    .mdc-tab-scroller
      .mdc-tab-scroller__scroll-area
        .mdc-tab-scroller__scroll-content.container
          - projects.each do |project, _title|
            %a.slide(href="/#{project}.html")
              = image_tag "images/#{project}.svg", style: "view-transition-name: #{project};height:100%;width: 100%;aspect-ratio:400/310"
          = partial "projects/resume"
